a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-list {
  width: 100%;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
